<!DOCTYPE html>
<html>

<head>
  <title>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <!-- '' -->

  </h1>
  <p>Đây là trang chủ v1.0</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/QU9c0053UAU" title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  <video controls style="width: 100%;">
    <source src="https://www.youtube.com/watch?v=QU9c0053UAU">
    </source>
  </video>

  <audio>

  </audio>
  <% include layout/footer%>
</body>

</html>