<!DOCTYPE html>
<html lang="vi">
<%include ../layout/head%>

    <body>
        <%include ../layout/menu%>
            <section>
                <div class="row">
                    <div class="container">
                        <%include ../layout/menuleft%>
                        <div class="cartegory-right">
                            <div>
                                <h2 class="font1" style="text-align: center;">Mèo anh (dài + ngắn)</h2>
                            </div>
                            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2"
                                tabindex="0">
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <div class="col">
                                        <div class="card h-100">
                                            <img height="400" src="/img/thú cưng/mèo/ngắn + dài/d1.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <span class="title12 text-uppercase color font-bold"
                                                    style="text-align: center;">ID:SP00100</span>
                                                <h3 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                                    style="text-align: center;">sọc dưa
                                                </h3>
                                                <p class="card-text " style="text-align: center;">3.000.000 <span
                                                        class="woocommerce-Price-currencySymbol">₫</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img height="400" src="/img/thú cưng/mèo/ngắn + dài/n1.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <span class="title12 text-uppercase color font-bold"
                                                    style="text-align: center;">ID:SP00478</span>
                                                <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                                    style="text-align: center;">Xanh xám</h2>
                                                <p class="card-text " style="text-align: center;">3.000.000 <span
                                                        class="woocommerce-Price-currencySymbol">₫</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img height="400" src="/img/thú cưng/mèo/ngắn + dài/n2.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <span class="title12 text-uppercase color font-bold"
                                                    style="text-align: center;">ID:SP00478</span>
                                                <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                                    style="text-align: center;">Bicolor</h2>
                                                <p class="card-text " style="text-align: center;">13.000.000 <span
                                                        class="woocommerce-Price-currencySymbol">₫</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                        
                                </div>
                            </div>
                            <div>
                                <h2 class="font1" style="text-align: center;">Mèo tai cụp (Scottish Fold)</h2>
                            </div>
                            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2"
                                tabindex="0">
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <div class="col">
                                        <div class="card h-100">
                                            <img height="400" src="/img/thú cưng/mèo/cụp/c1.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <span class="title12 text-uppercase color font-bold"
                                                    style="text-align: center;">ID:SP00100</span>
                                                <h3 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                                    style="text-align: center;">mèo tai cụp cute
                                                </h3>
                                                <p class="card-text " style="text-align: center;">10.000.000 <span
                                                        class="woocommerce-Price-currencySymbol">₫</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img height="400" src="/img/thú cưng/mèo/cụp/c2.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <span class="title12 text-uppercase color font-bold"
                                                    style="text-align: center;">ID:SP00478</span>
                                                <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                                    style="text-align: center;">Cụp sọc dưa</h2>
                                                <p class="card-text " style="text-align: center;">15.000.000 <span
                                                        class="woocommerce-Price-currencySymbol">₫</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img height="400" src="/img/thú cưng/mèo/cụp/c3.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <span class="title12 text-uppercase color font-bold"
                                                    style="text-align: center;">ID:SP00478</span>
                                                <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                                    style="text-align: center;">Cụp vàng</h2>
                                                <p class="card-text " style="text-align: center;">12.000.000 <span
                                                        class="woocommerce-Price-currencySymbol">₫</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h2 class="font1" style="text-align: center;">Mèo chân ngắn (Munchkin)</h2>
                            </div>
                            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2"
                                tabindex="0">
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <div class="col">
                                        <div class="card h-100">
                                            <img height="400" src="/img/thú cưng/mèo/mun/m1.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <span class="title12 text-uppercase color font-bold"
                                                    style="text-align: center;">ID:SP00100</span>
                                                <h3 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                                    style="text-align: center;">Munchkin
                                                </h3>
                                                <p class="card-text " style="text-align: center;">9.000.000 <span
                                                        class="woocommerce-Price-currencySymbol">₫</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img height="400" src="/img/thú cưng/mèo/mun/m2.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <span class="title12 text-uppercase color font-bold"
                                                    style="text-align: center;">ID:SP00478</span>
                                                <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                                    style="text-align: center;">Munchkin tam thể</h2>
                                                <p class="card-text " style="text-align: center;">17.000.000 <span
                                                        class="woocommerce-Price-currencySymbol">₫</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img height="400" src="/img/thú cưng/mèo/mun/m3.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <span class="title12 text-uppercase color font-bold"
                                                    style="text-align: center;">ID:SP00478</span>
                                                <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                                    style="text-align: center;">Bicolor lùn</h2>
                                                <p class="card-text " style="text-align: center;">100.000.000 <span
                                                        class="woocommerce-Price-currencySymbol">₫</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h2 class="font1" style="text-align: center;">Mèo Ai cập (Sphynx)</h2>
                            </div>
                            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2"
                                tabindex="0">
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <div class="col">
                                        <div class="card h-100">
                                            <img height="400" src="/img/thú cưng/mèo/sphynx/s1.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <span class="title12 text-uppercase color font-bold"
                                                    style="text-align: center;">ID:SP00478</span>
                                                <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                                    style="text-align: center;">mèo ai cập</h2>
                                                <p class="card-text " style="text-align: center;">13.000.000 <span
                                                        class="woocommerce-Price-currencySymbol">₫</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img height="400" src="/img/thú cưng/mèo/sphynx/s2.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <span class="title12 text-uppercase color font-bold"
                                                    style="text-align: center;">ID:SP00478</span>
                                                <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                                    style="text-align: center;">Sphuynx</h2>
                                                <p class="card-text " style="text-align: center;">15.000.000 <span
                                                        class="woocommerce-Price-currencySymbol">₫</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img height="400" src="/img/thú cưng/mèo/sphynx/s3.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <span class="title12 text-uppercase color font-bold"
                                                    style="text-align: center;">ID:SP00478</span>
                                                <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                                    style="text-align: center;">Sphuynx 2 màu mắt</h2>
                                                <p class="card-text " style="text-align: center;">13.000.000 <span
                                                        class="woocommerce-Price-currencySymbol">₫</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                        
                                </div>
                            </div>
                            <div>
                                <h2 class="font1" style="text-align: center;">Mèo Bengal</h2>
                            </div>
                            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2"
                                tabindex="0">
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <div class="col">
                                        <div class="card h-100">
                                            <img height="400" src="/img/thú cưng/mèo/bengal/b1.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <span class="title12 text-uppercase color font-bold"
                                                    style="text-align: center;">ID:SP00478</span>
                                                <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                                    style="text-align: center;">Báo mini</h2>
                                                <p class="card-text " style="text-align: center;">5.000.000 <span
                                                        class="woocommerce-Price-currencySymbol">₫</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img height="400" src="/img/thú cưng/mèo/bengal/b2.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <span class="title12 text-uppercase color font-bold"
                                                    style="text-align: center;">ID:SP00478</span>
                                                <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                                    style="text-align: center;">Báo mini</h2>
                                                <p class="card-text " style="text-align: center;">7.000.000 <span
                                                        class="woocommerce-Price-currencySymbol">₫</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h2 class="font1" style="text-align: center;">Mèo Maine Coon</h2>
                            </div>
                            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2"
                                tabindex="0">
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <div class="col">
                                        <div class="card h-100">
                                            <img height="400" src="/img/thú cưng/mèo/maine coon/mc1.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <span class="title12 text-uppercase color font-bold"
                                                    style="text-align: center;">ID:SP00100</span>
                                                <h3 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                                    style="text-align: center;">Mèo khổng lồ
                                                </h3>
                                                <p class="card-text " style="text-align: center;">13.000.000 <span
                                                        class="woocommerce-Price-currencySymbol">₫</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img height="400" src="/img/thú cưng/mèo/maine coon/mc2.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <span class="title12 text-uppercase color font-bold"
                                                    style="text-align: center;">ID:SP00478</span>
                                                <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                                    style="text-align: center;">Mèo siêu ngầu</h2>
                                                <p class="card-text " style="text-align: center;">68.000.000 <span
                                                        class="woocommerce-Price-currencySymbol">₫</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img height="400" src="/img/thú cưng/mèo/maine coon/mc3.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <span class="title12 text-uppercase color font-bold"
                                                    style="text-align: center;">ID:SP00478</span>
                                                <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                                    style="text-align: center;">Maine Coon</h2>
                                                <p class="card-text " style="text-align: center;">57.000.000 <span
                                                        class="woocommerce-Price-currencySymbol">₫</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h2 class="font1" style="text-align: center;">Mèo Xiêm</h2>
                            </div>
                            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2"
                                tabindex="0">
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <div class="col">
                                        <div class="card h-100">
                                            <img height="400" src="/img/thú cưng/mèo/xiêm/x1.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <span class="title12 text-uppercase color font-bold"
                                                    style="text-align: center;">ID:SP00100</span>
                                                <h3 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                                    style="text-align: center;">Xiêm mắt Xanh
                                                </h3>
                                                <p class="card-text " style="text-align: center;">33.000.000 <span
                                                        class="woocommerce-Price-currencySymbol">₫</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </body>

</html>