<!DOCTYPE html>
<html lang="vi">
<%include ../layout/head%>
<body>
    <%include ../layout/menu%>
    <section>
        <div class="row">
            <div class="container">
                <%include ../layout/menuleft%>
            <div class="cartegory-right">
                <div>
                    <h2 class="font1" style="text-align: center;">Chó Alaska</h2>
                </div>
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                    class="scrollspy-example-2" tabindex="0">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/alaska/al1.jpg" class="card-img-top">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00100</span>
                                    <h3 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">Alaska Nâu Đỏ béo ú
                                    </h3>
                                    <p class="card-text " style="text-align: center;">13.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span>
                                    </p>
                                </div>
                                <button class="btn btn-primary mt-3" id="btn-login-submit" href="">Xem chi tiết</button>
                                <button class="btn btn-primary mt-3" id="btn-login-submit">Thêm vào giỏ hàng</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <div class="wraper">
                                    <div class="watermark">
                                        <div class="text-center vertical-center">
                                            <a class="btn btn-primary mt-3" id="btn-login-submit" title="Xem chi tiết"
                                                href=""><i class="fa-regular fa-eye"></i></a>
                                            <a class="btn btn-primary mt-3" id="btn-login-submit" title="Thêm vào giỏ hàng"
                                                href="/html/giohang.html"><i class="fa-solid fa-cart-plus"></i></a>
                                        </div>
                                    </div>
                                    <img height="400" src="/img/thú cưng/chó/alaska/al3.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00478</span>
                                    <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">Alaska đen trắng xinh</h2>
                                    <p class="card-text " style="text-align: center;">13.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span></p>
                                </div>
    
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/alaska/al4.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00478</span>
                                    <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">Alaska
                                        Nâu đẹp trai</h2>
                                    <p class="card-text " style="text-align: center;">13.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span>
                                    </p>
                                </div>
                                <button class="btn btn-primary mt-3" id="btn-login-submit">Xem chi tiết</button>
                                <button class="btn btn-primary mt-3" id="btn-login-submit">Thêm vào giỏ hàng</button>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div>
                    <h2 class="font1" style="text-align: center;">Chó Corgi</h2>
                </div>
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                    class="scrollspy-example-2" tabindex="0">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/corgi/cg1.jpg" class="card-img-top">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00100</span>
                                    <h3 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">Corgi chân ngắn béo ú
                                    </h3>
                                    <p class="card-text " style="text-align: center;">10.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span>
                                    </p>
                                </div>
                                <button class="btn btn-primary mt-3" id="btn-login-submit" href="">Xem chi tiết</button>
                                <button class="btn btn-primary mt-3" id="btn-login-submit">Thêm vào giỏ hàng</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/corgi/cg2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00478</span>
                                    <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">Corgi đáng yêu</h2>
                                    <p class="card-text " style="text-align: center;">15.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/corgi/cg4.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00478</span>
                                    <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">Corgi nhỏ</h2>
                                    <p class="card-text " style="text-align: center;">12.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 class="font1" style="text-align: center;">Chó Golden</h2>
                </div>
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                    class="scrollspy-example-2" tabindex="0">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/golden/g1.jpg" class="card-img-top">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00100</span>
                                    <h3 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">Golden vàng
                                    </h3>
                                    <p class="card-text " style="text-align: center;">9.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/golden/g2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00478</span>
                                    <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">Golden dễ thương</h2>
                                    <p class="card-text " style="text-align: center;">17.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/golden/g3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00478</span>
                                    <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">golden trắng</h2>
                                    <p class="card-text " style="text-align: center;">10.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 class="font1" style="text-align: center;">Chó Husky</h2>
                </div>
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                    class="scrollspy-example-2" tabindex="0">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/husky/h1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00478</span>
                                    <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">Husky ngáo</h2>
                                    <p class="card-text " style="text-align: center;">13.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/husky/h2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00478</span>
                                    <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">Husky nhỏ</h2>
                                    <p class="card-text " style="text-align: center;">15.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/husky/h3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00478</span>
                                    <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">Husky mặt ngáo</h2>
                                    <p class="card-text " style="text-align: center;">13.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span>
                                    </p>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div>
                    <h2 class="font1" style="text-align: center;">Chó Phốc</h2>
                </div>
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                    class="scrollspy-example-2" tabindex="0">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/Phốc/phoc1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00478</span>
                                    <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">Phốc sóc trắng xinh</h2>
                                    <p class="card-text " style="text-align: center;">5.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/Phốc/phoc2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00478</span>
                                    <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">Phốc nhỏ đáng yêu</h2>
                                    <p class="card-text " style="text-align: center;">7.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 class="font1" style="text-align: center;">Chó Poodle</h2>
                </div>
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                    class="scrollspy-example-2" tabindex="0">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/poodle/pd1.jpg" class="card-img-top">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00100</span>
                                    <h3 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">Poodle xinh xinh
                                    </h3>
                                    <p class="card-text " style="text-align: center;">13.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/poodle/pd2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00478</span>
                                    <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">Poodle xiu cute</h2>
                                    <p class="card-text " style="text-align: center;">8.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/poodle/pd3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00478</span>
                                    <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">poodle nâu xoăn</h2>
                                    <p class="card-text " style="text-align: center;">7.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 class="font1" style="text-align: center;">Chó Samoyed</h2>
                </div>
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                    class="scrollspy-example-2" tabindex="0">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/samoyed/sam1.jpg" class="card-img-top">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00100</span>
                                    <h3 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">samoyed trắng siêu xinh
                                    </h3>
                                    <p class="card-text " style="text-align: center;">13.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/samoyed/sam2.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00478</span>
                                    <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">samoyed trắng xinh xỉu</h2>
                                    <p class="card-text " style="text-align: center;">13.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/samoyed/sam3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00478</span>
                                    <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">samoyed đáng yêu</h2>
                                    <p class="card-text " style="text-align: center;">13.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 class="font1" style="text-align: center;">Chó Shiba-Inu</h2>
                </div>
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                    class="scrollspy-example-2" tabindex="0">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/shiba/s1.jpg" class="card-img-top">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00100</span>
                                    <h3 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">Shiba-Inu mặt cười
                                    </h3>
                                    <p class="card-text " style="text-align: center;">13.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img height="400" src="/img/thú cưng/chó/shiba/s2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <span class="title12 text-uppercase color font-bold"
                                        style="text-align: center;">ID:SP00478</span>
                                    <h2 class="card-title title18 text-uppercase product-title dosis-font font-bold"
                                        style="text-align: center;">Shiba-Inu mặt dễ thương</h2>
                                    <p class="card-text " style="text-align: center;">13.000.000 <span
                                            class="woocommerce-Price-currencySymbol">₫</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    </section>
</body>
</html>