<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simba Pet Shop</title>
    <link rel="stylesheet" href="/stylesheets/libs/toastify.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>