<div class="cartegory-left">
    <ul>
        <li class="cartegory-left-li"><a href="/html/dog.html">Chó</a>
            <ul>
                <li><a href="">Chó Corgi</a></li>
                <li><a href="">Chó Alaska</a></li>
                <li><a href="">Chó Golden</a></li>
                <li><a href="">Chó Shiba Inu</a></li>
                <li><a href="">Chó Husky</a></li>
                <li><a href="">Chó Poodle</a></li>
                <li><a href="">Chó Samoyed</a></li>
                <li><a href="">Chó Phốc</a></li>
            </ul>
        </li>
        <li class="cartegory-left-li"><a href="/html/meo.html">Mèo</a>
            <ul>
                <li><a href="">Mèo anh (dài + ngắn)</a></li>
                <li><a href="">Mèo tai cụp (Scottish Fold)</a></li>
                <li><a href="">Mèo chân ngắn (Munchkin)</a></li>
                <li><a href="">Mèo Ai cập (Sphynx)</a></li>
                <li><a href="">Mèo Xiêm</a></li>
                <li><a href="">Mèo Bengal</a></li>
                <li><a href="">Mèo Ragdoll</a></li>
                <li><a href="">Mèo Maine Coon</a></li>
                <li><a href="">Mèo Ba Tư (Persian Longhair)</a></li>
            </ul>
        </li>
        <li class="cartegory-left-li"><a href="/html/phukien.html">Phụ kiện</a>
            <ul>
                <li><a href="">Vòng cổ & Dây dắt</a></li>
                <li><a href="">Quần áo & Mũ nón</a></li>
                <li><a href="">Đồ chơi</a></li>
                <li><a href="">Balo chó - mèo</a></li>
                <li><a href="">Ổ nệm</a></li>
                <li><a href="">Chuồng</a></li>
                <li><a href="">Bát ăn & Bình nước</a></li>
            </ul>
        </li>
        <li class="cartegory-left-li"><a href="/html/food.html">Thức ăn</a>
            <ul>
                <li><a href="">Thức ăn hạt khô</a></li>
                <li><a href="">Pate & Súp thưởng</a></li>
                <li><a href="">Xương gặm & Bánh thưởng</a></li>
                <li><a href="">Vitamin & Dinh dưỡng</a></li>
            </ul>
        </li>
        <li class="cartegory-left-li"><a href="/html/vscs.html">Vệ Sinh - Chăm sóc</a>
            <ul>
                <li><a href="">Tã bỉm & Tấm lót vệ sinh</a></li>
                <li><a href="">Khay vệ sinh</a></li>
                <li><a href="">Sữa tắm & Xịt khử mùi</a></li>
                <li><a href="">Cát vệ sinh</a></li>
                <li><a href="">Dụng cụ chăm sóc</a></li>
            </ul>
        </li>
    </ul>
</div>